@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import './assets/fonts/Pretendard/pretendardvariable.scss';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

[draggable="true"] {

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div[contenteditable="true"] {
    outline: none;
}

.editor_container {
    height: 100vh;
    position: relative;
    --border-default: 1px solid rgb(229, 229, 229);
    --primary-color: rgb(72, 67, 181);
    --background: #FFF;
    --accent-0: rgb(255, 255, 255);
    --accent-1: rgb(240, 240, 240);
    --accent-2: rgb(221, 221, 221);
    --accent-3: rgb(204, 204, 204);
    --accent-4: rgb(187, 187, 187);
    --accent-5: rgb(170, 170, 170);
    --accent-6: rgb(153, 153, 153);
    --accent-7: rgb(136, 136, 136);
    --accent-8: rgb(119, 119, 119);
    --accent-9: rgb(102, 102, 102);
    --accent-10: rgb(85, 85, 85);
    --accent-11: rgb(68, 68, 68);
    --accent-12: rgb(51, 51, 51);
    --accent-13: rgb(34, 34, 34);
    --accent-14: rgb(17, 17, 17);
    --accent-15: rgb(0, 0, 0);
    // -ms-overflow-style: none;
    // scrollbar-width: none;

    // ::-webkit-scrollbar {
    //     display: none;
    // }
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-track {
        background-color: #fffefe;
    }

    .skeleton:empty {
        background-color: var(--accent-2);
        border-radius: 4px;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, transparent, var(--accent-3), transparent);
            animation: skeletonLoading 1.5s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
        }
    }

    @keyframes skeletonLoading {
        0% {
            left: -100%;
        }

        100% {
            left: 100%;
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader {
        animation: spin 1.5s linear infinite;
    }
}


.editor_container>.header_container {
    height: 48px;
    display: flex;
    align-items: center;
    color: var(--accent-1);
    fill: var(--accent-1);
    z-index: 1;

    .controls_container {
        height: 100%;
        flex: 1 1 0;
        display: flex;
        align-items: center;

        .settings_btn {
            margin-left: 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .actions_container {
        flex: 1 1 0;
        display: flex;
        justify-content: flex-end;

        .save_btn {
            height: 28px;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 12px;
            font-size: 13px;
            font-weight: 600;
            padding: 0 8px;
            border-radius: 4px;
            background-color: var(--accent-10);
        }

        .save_btn:hover {
            background-color: var(--accent-11);
        }

        .icon_btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            fill: var(--accent-7);
            transition: .2s;

            &.active {
                fill: var(--accent-1);

            }
        }
    }

    .title_container {
        display: flex;
        align-items: center;

        .title {
            font-size: 15px;
            font-weight: 600;
            background-color: transparent;
            color: var(--accent-0);
            border: none;
            outline: none;
            min-width: 24px;
            text-align: center;
            padding: 6px 8px;
            border-radius: 4px;

            transition: box-shadow linear 0.2s;

            &:hover {
                -webkit-box-shadow: inset 0px 0px 0px .5px rgb(227, 227, 227);
                -moz-box-shadow: inset 0px 0px 0px .5px rgb(227, 227, 227);
                box-shadow: inset 0px 0px 0px .5px rgb(227, 227, 227);
            }

            &:focus {
                -webkit-box-shadow: inset 0px 0px 0px 1px rgb(255, 255, 255);
                -moz-box-shadow: inset 0px 0px 0px 1px rgb(255, 255, 255);
                box-shadow: inset 0px 0px 0px 1px rgb(255, 255, 255);
            }
        }
    }

    // remove
    background-color: #232323;


}

.editor_container>.error_container {
    z-index: 5;
    position: absolute;
    bottom: 24px;
    right: 24px;
    margin-left: 24px;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    box-shadow: 0 15px 35px 0 rgba(60, 66, 87, .08), 0 5px 15px 0 rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: rgb(251 87 87);
    fill: rgb(251 87 87);
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 6px;
    border: var(--border-default);

    .error_title {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .content {
        max-height: 0;
        max-width: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height 2s;
        color: var(--accent-14);

        &.open {
            padding: 12px 0;
            max-height: calc(100vh - 100px);
            max-width: 100%;
        }
    }
}

.editor_container>.alert_container {
    z-index: 4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);

    .alert {
        border-radius: 4px;
        border: var(--border-default);
        font-weight: 500;
        max-width: 300px;
        width: 100%;
        margin: 24px;
        padding: 24px;
        overflow-y: auto;
        background-color: var(--accent-0);
        display: flex;
        flex-direction: column;
        gap: 8px;

        .content {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin: 4px 0;
            font-size: 14px;

            .input {
                padding: 6px 8px;
                width: 100%;
                outline: none;
                margin-top: 4px;
                border: none;
                border-radius: 4px;
                font-size: 13px;
                transition: box-shadow linear 0.09s;
                -webkit-box-shadow: inset 0px 0px 0px 1px rgb(230, 230, 230);
                -moz-box-shadow: inset 0px 0px 0px 1px rgb(230, 230, 230);
                box-shadow: inset 0px 0px 0px 1px rgb(230, 230, 230);

                &:hover {
                    -webkit-box-shadow: inset 0px 0px 0px 1.5px rgb(120, 190, 237);
                    -moz-box-shadow: inset 0px 0px 0px 1.5px rgb(120, 190, 237);
                    box-shadow: inset 0px 0px 0px 1.5px rgb(120, 190, 237);
                }

                &:focus {
                    -webkit-box-shadow: inset 0px 0px 0px 1.5px rgb(90, 130, 237);
                    -moz-box-shadow: inset 0px 0px 0px 1.5px rgb(90, 130, 237);
                    box-shadow: inset 0px 0px 0px 1.5px rgb(90, 130, 237);
                }

            }
        }

        .btn_container {
            display: flex;
            margin-left: auto;

            gap: 8px;

            .btn {
                cursor: pointer;
                display: flex;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 600;
                height: 32px;
                width: 56px;
                align-items: center;
                justify-content: center;
                border: var(--border-default);
                transition-duration: 0.1s;



                & .loader {
                    animation: spin 1.5s linear infinite;
                    fill: var(--accent-0)
                }

                &:disabled {
                    cursor: not-allowed;
                }

                &:hover {
                    background-color: var(--accent-1);
                }

                &:last-child {
                    background-color: var(--accent-15);
                    color: var(--accent-0);

                    &:hover {
                        background-color: var(--accent-12);
                    }
                }


            }
        }
    }
}

.editor_container>.settings_container {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 24px;

    .settings {
        max-width: 800px;
        padding: 24px;
        border-radius: 4px;
        width: 100%;
        overflow-y: auto;
        background-color: var(--accent-0);

        .title_container {
            font-size: 18px;
            font-weight: 600;
            color: var(--accent-14);
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;


        }

        .settings_item_container {
            .name {
                font-size: 14px;
                font-weight: 600;
                color: var(--accent-10);
            }

            .item_container {}
        }
    }

}

.editor_container>.database_container {
    width: 100vw;
    height: calc(100vh - 48px);
    background-color: var(--background);
    display: flex;

    .sidebar {
        height: 100%;
        font-size: 14px;
        flex-basis: 240px;
        border-right: var(--border-default);

        .title {
            height: 32px;
            font-weight: 600;
            padding: 0 16px;
            color: var(--accent-13);
            font-size: 12px;
            line-height: 32px;
            border-bottom: var(--border-default);
        }

        .database_items {
            overflow-y: auto;

            .add_database_btn {
                cursor: pointer;
                font-size: 12px;
                font-weight: 500;
                margin: 12px 12px 0 12px;
                height: 20px;
                line-height: 20px;
                border-radius: 4px;
                text-align: center;
                border: var(--border-default);
                transition: .2s;

                &:hover {
                    background-color: var(--accent-1);
                }
            }

            .database_item_container {
                margin-top: 8px;

                .header {
                    cursor: pointer;
                    height: 24px;
                    display: flex;
                    gap: 8px;
                    font-size: 14px;
                    color: var(--accent-13);
                    padding: 0 12px;
                    align-items: center;
                    font-weight: 600;
                }

                .fields {
                    padding: 0 0 0 18px;

                    .field {
                        display: flex;

                        .vertical_line {
                            display: block;
                            width: 1px;
                            height: 100%;
                            background-color: var(--accent-2);
                        }

                        &:last-child .vertical_line {
                            height: 50%;

                        }

                        .horizontal_line {
                            margin-top: 8px;
                            display: block;
                            width: 8px;
                            height: 1px;
                            background-color: var(--accent-2);
                            margin-right: 6px;
                        }

                        font-size: 13px;
                        color: var(--accent-9);
                        padding-right: 12px;
                        height: 18px;
                        line-height: 18px;
                        position: relative;

                    }
                }


            }
        }

    }

    .database {
        flex: 1 1 0;
        padding: 24px;

        .title {
            font-size: 16px;
            font-weight: 600;
            height: 16px;
        }

        .tab_container {
            .tab_header {
                border-bottom: var(--border-default);
                margin-top: 24px;
                display: flex;
                font-weight: 600;
                font-size: 13px;
                color: var(--accent-7);

                .item {
                    cursor: pointer;
                    width: 80px;
                    text-align: center;
                    height: 32px;
                    line-height: 32px;
                    position: relative;
                    transition: .3s;

                    &::after {
                        transition: .3s;
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        width: 100%;
                        height: 1px;
                        left: 0;
                        background-color: transparent;
                    }

                    &.active {
                        color: var(--accent-14);

                        &::after {
                            background-color: var(--accent-14);

                        }

                    }
                }
            }

            .tab_content {
                .field_container {
                    margin-top: 12px;

                    .table {
                        width: 100%;
                        border-collapse: collapse;
                        font-size: 12px;

                        .header_row {

                            .field {
                                text-align: left;
                                border-bottom: 1px solid var(--accent-11);
                                padding: 12px 8px;
                            }

                            .type {
                                text-align: left;
                                border-bottom: 1px solid var(--accent-11);
                                padding: 12px 8px;
                                width: 240px;
                            }

                            .delete {
                                width: 72px;

                                text-align: center;
                                border-bottom: 1px solid var(--accent-11);
                                padding: 12px 8px;
                            }
                        }

                        .add_row {

                            td {
                                border: var(--border-default);
                                height: 32px;

                                input,
                                select {
                                    width: 100%;
                                    height: 100%;
                                    border: none;
                                    outline: none;
                                    padding: 0 8px;
                                    font-size: 12px;
                                }

                                select {
                                    width: calc(100% - 11px);
                                    margin: 0 6px 0 5px;
                                    padding: 0;

                                }

                            }

                            .add_btn {
                                cursor: pointer;
                                font-weight: 500;
                                font-size: 11px;
                                border: var(--border-default);
                                border-radius: 4px;
                                width: 32px;
                                height: 24px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: auto;
                                transition: .2s;

                                &:hover {
                                    background-color: var(--accent-1);
                                }
                            }
                        }

                        .row {
                            height: 32px;

                            .field {

                                border: var(--border-default);
                                padding: 0 8px;
                            }

                            .type {
                                width: 240px;
                                border: var(--border-default);
                                padding: 0 8px;
                            }

                            .delete {
                                width: 72px;
                                border: var(--border-default);
                                text-align: center;

                                .btn {
                                    cursor: pointer;
                                    font-weight: 500;
                                    font-size: 11px;
                                    border: var(--border-default);
                                    border-radius: 4px;
                                    width: 32px;
                                    height: 24px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: auto;
                                    transition: .2s;

                                    &:hover {
                                        background-color: var(--accent-1);
                                    }
                                }
                            }

                        }
                    }
                }

                .data_container {
                    .header {
                        margin-top: 24px;
                        display: flex;
                        justify-content: space-between;

                        .title {
                            font-size: 15px;
                        }

                        .actions {
                            display: flex;
                            gap: 4px;

                            select {
                                height: 28px;
                                padding: 0 6px;
                                font-weight: 500;
                                font-size: 11px;
                                border: var(--border-default);
                                border-radius: 4px;
                            }

                            .reload_btn,
                            .btn {

                                cursor: pointer;
                                font-weight: 500;
                                font-size: 11px;
                                border: var(--border-default);
                                border-radius: 4px;
                                padding: 0 12px;
                                height: 28px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: .2s;

                                &:hover {
                                    background-color: var(--accent-1);
                                }

                            }

                            .reload_btn {
                                padding: 0;
                                width: 64px;

                            }
                        }
                    }

                    .data_list_container {
                        margin-top: 12px;

                        .data {
                            margin-top: 4px;
                            border-radius: 4px;
                            border: var(--border-default);
                            padding: 12px 18px;
                            font-size: 12px;

                            .field {
                                margin-top: 4px;

                                &:hover {
                                    background-color: var(--accent-1);
                                }

                            }
                        }
                    }
                }

                .settings_container {
                    margin: 24px auto 0 auto;
                    margin-top: 24px;
                    max-width: 800px;

                    .category {
                        margin-top: 12px;

                        .title {
                            margin-bottom: 12px;
                            font-size: 15px;
                        }
                    }

                    .settings_item {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 4px;
                        border: var(--border-default);
                        padding: 12px 18px;

                        .content {

                            .text {
                                font-size: 14px;
                                font-weight: 600;
                                color: var(--accent-14);

                            }

                            .description {
                                color: var(--accent-11);
                                font-size: 12px;

                            }
                        }

                        .btn {

                            cursor: pointer;
                            font-weight: 500;
                            font-size: 11px;
                            border: var(--border-default);
                            border-radius: 4px;
                            padding: 0 12px;
                            height: 28px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: .2s;

                            &:hover {
                                background-color: var(--accent-1);
                            }

                        }
                    }
                }
            }
        }
    }

}

.editor_container>.editor {
    height: calc(100vh - 48px);
    position: relative;
}

.canvas_container {
    width: 100%;
    height: 100%;
    z-index: 0;
}


.property_container {
    position: absolute;
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    width: 240px;

    .property {
        padding: 0 16px;

    }

    .color_picker_container {
        display: flex;
        align-items: center;
        // border: var(--border-default);
        height: 24px;
        background-color: transparent;
        transition: box-shadow linear 0.09s;
        -webkit-box-shadow: inset 0px 0px 0px .5px rgb(230, 230, 230);
        -moz-box-shadow: inset 0px 0px 0px .5px rgb(230, 230, 230);
        box-shadow: inset 0px 0px 0px .5px rgb(230, 230, 230);
        outline: none;

        &:hover {
            -webkit-box-shadow: inset 0px 0px 0px 1px rgb(120, 190, 237);
            -moz-box-shadow: inset 0px 0px 0px 1px rgb(120, 190, 237);
            box-shadow: inset 0px 0px 0px 1px rgb(120, 190, 237);
        }

        &:has(input:focus) {
            -webkit-box-shadow: inset 0px 0px 0px 1px rgb(90, 130, 237);
            -moz-box-shadow: inset 0px 0px 0px 1px rgb(90, 130, 237);
            box-shadow: inset 0px 0px 0px 1px rgb(90, 130, 237);
        }

        .color_picker {
            position: relative;
            margin-left: 4px;
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            .picker {
                position: absolute;
                right: 24px;
                width: 200px;
                background-color: #e7e7e7;
            }

        }

        // .divider {
        //     width: 1px;
        //     background-color: #afafaf;
        //     height: 70%;
        // }
        .prefix {
            padding: 0 2px 0 6px;
            font-size: 12px;
        }

        .color {
            outline: none;
            font-size: 12px;
            flex: 1 1 0;
            width: 100%;
            border: 0;
        }

        .opacity {
            outline: none;
            font-size: 12px;
            width: 20px;
            border: 0;
        }

        .suffix {
            padding: 0 12px 0 2px;
            font-size: 12px;
        }

    }

    .align_container {
        fill: var(--accent-7);
        display: flex;
        gap: 6px;
    }

    .add_property_container {
        font-size: 12px;

        .item_container {}

        .add_btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            border-radius: 4px;
            border: var(--border-default);
            cursor: pointer;

            &:hover {
                background-color: var(--accent-1);
            }
        }
    }

    .border_container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .border {
            display: flex;
            gap: 4px;

        }

        .border_size,
        .border_radius {
            height: 24px;
            display: flex;
            align-items: center;
            background-color: transparent;
            transition: box-shadow linear 0.09s;
            -webkit-box-shadow: inset 0px 0px 0px .5px rgb(230, 230, 230);
            -moz-box-shadow: inset 0px 0px 0px .5px rgb(230, 230, 230);
            box-shadow: inset 0px 0px 0px .5px rgb(230, 230, 230);
            outline: none;

            &:hover {
                -webkit-box-shadow: inset 0px 0px 0px 1px rgb(120, 190, 237);
                -moz-box-shadow: inset 0px 0px 0px 1px rgb(120, 190, 237);
                box-shadow: inset 0px 0px 0px 1px rgb(120, 190, 237);
            }

            &:has(input:focus) {
                -webkit-box-shadow: inset 0px 0px 0px 1px rgb(90, 130, 237);
                -moz-box-shadow: inset 0px 0px 0px 1px rgb(90, 130, 237);
                box-shadow: inset 0px 0px 0px 1px rgb(90, 130, 237);
            }

            input {
                margin-left: 4px;
                margin-right: 4px;
                font-size: 12px;
                width: 100%;
                border: none;
                outline: none;
            }

            select {
                width: 24px;
            }
        }
    }

    .resize_container {
        display: flex;

        .resize_select {
            flex: 1 1 0;

            select {
                height: 24px;
                font-size: 12px;
                outline: none;
                width: 100%;
                border: 0;
            }
        }

        .resize_input {

            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            font-size: 12px;

            .input_container {
                display: flex;
                height: 24px;
                align-items: center;

                // border: 1px solid;
                .prefix {
                    min-width: 14px;
                }

                input {
                    padding-left: 4px;
                    outline: none;
                    font-size: 12px;
                    border: 0;
                    width: 100%;
                }
            }
        }
    }
}

.toolbar_container {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 240px;
    top: 0;
    left: 0;
    overflow-y: hidden;


    .toolbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-right: var(--border-default);
        height: inherit;

        ._menu_container {
            height: 25%;

            &:first-child {
                height: 50%;
            }

            &:nth-child(2) {
                ._content {
                    height: calc(100% - 32px);
                    overflow-y: hidden;
                }
            }


            ._content {
                height: calc(100% - 32px);
                overflow-y: auto;


                &:hover {
                    &::-webkit-scrollbar {
                        display: block;

                    }

                    &::-webkit-scrollbar-thumb {
                        background: rgba(0, 0, 0, 0.1);

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                    }

                }


                margin-bottom: 8px;

            }
        }

    }

    .layer_container {
        font-weight: 400;
        color: #353535;
        font-size: 12px;
        height: 100%;

        .add_to_page {
            height: 6px;
            width: 100%;

            &.dragover {
                border-bottom: 1px solid transparent;
                cursor: copy;
                background-color: #f3f7fc;
                border-color: #1361cd;
            }
        }

        .layer_item {

            &.dragover {
                background-color: #f3f7fc;
                -webkit-box-shadow: inset 0px -1px 0px 0px #1361cd;
                -moz-box-shadow: inset 0px -1px 0px 0px #1361cd;
                box-shadow: inset 0px -1px 0px 0px #1361cd;

            }

            &.add_row_draggover {
                background-color: #f3f7fc;
            }

            .add_row {
                height: 4px;
                width: 100%;

                &.dragover {
                    border-bottom: 1px solid transparent;
                    cursor: copy;
                    background-color: #f3f7fc;
                    border-color: #1361cd;
                }
            }

            .header {
                user-select: none;
                padding: 0 16px;
                cursor: pointer;
                height: 28px;
                display: flex;
                align-items: center;
                gap: 6px;
                flex-direction: row;

                &.hover {
                    outline: 1px solid #1361cd;
                }

                &.selected {
                    background-color: #f0f0f0;
                }



            }


            .name {
                flex: 1 1 0;
            }

            .controls {
                display: flex;
                gap: 4px;
                align-items: center;

                .icon {
                    width: 16px;
                }
            }
        }

        .layer_item.dragging {
            outline: 0 !important;
            opacity: .5;

        }


    }

    .item_list_container {
        height: inherit;

        .search_container {
            margin: 0 16px 4px 16px;

            .search {
                height: 24px;
                width: 100%;
                font-size: 12px;
                border: 1px solid rgb(225, 225, 225);
                border-radius: 4px;
                outline: none;
                padding: 0 8px;
            }
        }

        .category_container {
            height: 100%;
            overflow-y: auto;

            &:hover {
                &::-webkit-scrollbar {
                    display: block;

                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.1);

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }

            }
        }

        .category {

            .header {
                font-weight: 400;
                color: #353535;
                font-size: 12px;
                height: 28px;
                padding: 0 16px;
                cursor: pointer;
                display: flex;
                gap: 6px;
                align-items: center;

                &:hover {
                    background-color: rgb(240, 240, 240);
                }

            }


            .content {
                display: flex;
                flex-direction: column;


                .item {
                    cursor: pointer;
                    user-select: none;
                    font-weight: 400;
                    color: #353535;
                    font-size: 12px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 32px;
                    gap: 4px;
                    padding: 0 12px 0 24px;
                }

                .item:hover {
                    background-color: rgb(240, 240, 240);

                }
            }
        }


    }
}

._menu_container {
    user-select: none;
    border-bottom: var(--border-default);

    ._name {
        padding: 0 16px;
        height: 32px;
        font-weight: 600;
        color: #353535;
        font-size: 12px;
        line-height: 32px;
    }

    ._content {
        margin-bottom: 8px;
    }

}

._menu_container.collapse ._content {
    height: 0px;
    margin: 0;
    overflow: hidden;
    // display: none;
}

// ============================  ============================
.selection_box {
    position: absolute;
    border: 1px solid #91b3e2;
    z-index: 2;
    pointer-events: none
}

.canvas {
    width: calc(100vw - 480px);
    height: 100%;
    margin: auto;
    padding: 12px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    // remove
    background-color: rgb(240, 240, 240);

    .page {
        background-color: #fff;
        min-height: 100%;
    }

    .block_container_ {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .block_container_vertical {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }

    .block_container_horizontal {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        align-items: stretch;
        width: 100%;
    }

    .block {
        overflow: hidden;
        width: 100%;


        .input_conatiner {
            height: 100%;

            input {
                background-color: transparent;
                transition: box-shadow linear 0.09s;
                width: 100%;
                height: 100%;

                padding: 8px 10px;
                border: none;
                -webkit-box-shadow: inset 0px 0px 0px 1px rgb(230, 230, 230);
                -moz-box-shadow: inset 0px 0px 0px 1px rgb(230, 230, 230);
                box-shadow: inset 0px 0px 0px 1px rgb(230, 230, 230);
                border-radius: 4px;
                outline: none;
            }

            input:hover {
                -webkit-box-shadow: inset 0px 0px 0px 2px rgb(120, 190, 237);
                -moz-box-shadow: inset 0px 0px 0px 2px rgb(120, 190, 237);
                box-shadow: inset 0px 0px 0px 2px rgb(120, 190, 237);
            }

            input:focus {
                -webkit-box-shadow: inset 0px 0px 0px 2px rgb(90, 130, 237);
                -moz-box-shadow: inset 0px 0px 0px 2px rgb(90, 130, 237);
                box-shadow: inset 0px 0px 0px 2px rgb(90, 130, 237);
            }

        }

    }

    .table_container {
        width: 100%;

        .table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;

            tbody {
                width: 100%;
            }




            th,
            td {
                border: 1px solid;
            }

            .resize_handle {
                z-index: 1;
                position: absolute;
                height: 100%;
                top: 0px;
                cursor: col-resize;
                right: -1px;
                background-color: #1361cd;
                width: 1px;
            }
        }
    }

    // .block {

    // box-shadow: inset 50px 0px 0px 0px rgba(120, 190, 237,1);
    // }
    .block.dragover {
        // background-color: #1361cd;
        padding-left: 24px;

    }

    .styled_text {
        height: 100%;
        overflow: hidden;
    }
}

.canvas::-webkit-scrollbar {
    display: none;
}


.drag_control {
    pointer-events: none;
    position: fixed;
    z-index: 3;

}

.parser {
    .table_container {
        width: 100%;

        .table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;

            tbody {
                width: 100%;
            }

            th,
            td {
                border: 1px solid;
            }

        }
    }
}